LanguageTest/schemas/LangModuleSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.thanlwinsoft.org/schemas/languagetest/module" 
	xmlns="http://www.thanlwinsoft.org/schemas/languagetest/module" 
	attributeFormDefault="unqualified" 
	elementFormDefault="qualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LanguageModule" type="LanguageModuleType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
	This file was generated by the Language Test program.
	It is not designed for editing by hand.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TestItemType">
    <xs:sequence>
      <xs:element type="NativeLangType" name="NativeLang" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="ForeignLangType" name="ForeignLang" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="SoundFileType" name="SoundFile" minOccurs="0"/>
      <xs:element type="xs:string" name="Img" minOccurs="0"/>
      <xs:element type="TagType" name="Tag" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="creationTime"/>
    <xs:attribute type="xs:string" name="creator"/>
  </xs:complexType>
  <xs:complexType name="SoundFileType">
  	<xs:annotation>
      <xs:documentation xml:lang="en">
      	The start, end, length parameters are in milliseconds
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="start" use="optional"/>
        <xs:attribute type="xs:long" name="end" use="optional"/>
        <xs:attribute type="xs:long" name="length" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LangType">
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
		<xs:element name="Desc" type="DescType" minOccurs="0" maxOccurs="unbounded"></xs:element>
	</xs:sequence>
	<xs:attribute type="xs:string" name="font" use="optional"/>
   	<xs:attribute type="xs:decimal" name="fontSize" use="optional"/>
   	<xs:attribute type="xs:decimal" name="fontStyle" use="optional"/>
   	<xs:attribute type="xs:string" name="lang" use="required"/>
	<xs:attribute type="LangTypeType" name="type" use="required"/>
  </xs:complexType>
  <xs:simpleType name="LangTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="native"/>
			<xs:enumeration value="foreign"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="LangEntryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ForeignLangType">
    <xs:simpleContent>
      <xs:extension base="LangEntryType">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NativeLangType">
    <xs:simpleContent>
      <xs:extension base="LangEntryType">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LanguageModuleType">
  	<xs:sequence>
  		<xs:element type="LangType" name="Lang" maxOccurs="unbounded"
  			minOccurs="0" />
  		<xs:choice>
  			<xs:sequence>
  				<xs:element type="TestItemType" name="TestItem"
  					maxOccurs="unbounded" minOccurs="0" />
  			</xs:sequence>
  			<xs:element name="Config" type="ConfigType"></xs:element>
  		</xs:choice>
  	</xs:sequence>
  	<xs:attribute type="xs:long" name="creationTime" />
  	<xs:attribute type="xs:ID" name="id" />
  	<xs:attribute name="formatVersion" default="1.0.0" use="optional">
            <xs:annotation>
            	<xs:documentation>
            		The schema format version number.
            	</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
  			<xs:restriction base="xs:string">
  				<xs:pattern value="\d+\.\d+\.\d+"></xs:pattern>
  			</xs:restriction>
  		</xs:simpleType>
  	</xs:attribute>
  </xs:complexType>

  <xs:complexType name="TagType">
  	<xs:attribute name="ref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="MetaDataType">
  	<xs:sequence>
  		<xs:element type="DescType" name="Desc" minOccurs="0" maxOccurs="unbounded"></xs:element>
  		<xs:element type="MetaDataType" name="MetaData"  minOccurs="0" maxOccurs="unbounded"/>
  	</xs:sequence>
  	<xs:attribute name="metaId" type="MetaIdType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="MetaIdType">
  	<xs:restriction base="xs:string">
  		<xs:pattern value="[^/\\'&#x22;]*"></xs:pattern>
  	</xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DescType">
  	<xs:simpleContent>
  		<xs:extension base="xs:string">
  			<xs:attribute name="lang" use="required">
  				<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:pattern value="\w{2,3}"></xs:pattern>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  		</xs:extension>
  	</xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConfigType">
  	<xs:sequence>
  		<xs:element name="MetaData" type="MetaDataType" maxOccurs="unbounded" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

</xs:schema>
